<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue</title>
    <script src="https://cdn.bootcss.com/vue/2.0.3/vue.js"></script>
</head>
<body>
    <div id="app">{{ message }}</div>
    <div id="app-2">
        <span v-bind:title="message">Hover to see information</span>
    </div>
    <div id="app-3">
        <p v-if="isShownText">Now you see me cauz I let it be!</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">{{ todo.text }}</li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <input type="text" v-model="message">
    </div>
    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: "Page loaded in " + new Date()
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                isShownText: true
            }
        });

                var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                    text: 'Learn JavaScript'
                },{
                    text: 'Learn Vue'
                },{
                    text: 'Learn Project'
                }]
            }
        });

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Sam!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        });

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Sam'
            }
        });
        //7#    props
        Vue.component('todo-item',{
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });
        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [{
                    text: 'Vegetables'
                },{
                    text: 'Cheese'
                },{
                    text: 'Meat'
                }]
            }

        });
    </script>
</body>
</html>